<!DOCTYPE html>
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Focus States</title>
    <meta charset="UTF-8">

    <link href="Focus%20States_files/variables.css" type="text/css" rel="stylesheet">
    <link href="Focus%20States_files/styles-common.css" type="text/css" rel="stylesheet">
    <link href="Focus%20States_files/styles-ui-controls.css" type="text/css" rel="stylesheet">
    <link href="Focus%20States_files/styles-focus-state.css" type="text/css" rel="stylesheet">
  </head>

  <body spellcheck="false">
    <div class="container-grid">

      <!-- Focus Styling 03 //-->
      <div class="grid-cell focus-style-03">
        <h1>Focus Styling 03</h1>

        <div class="group-ui-elements item-checkbox">
          <input id="checkbox-03-A" class="focus" checked="checked" type="checkbox">
          <label for="checkbox-03-A">Checkbox</label>
        </div>

        <div class="group-ui-elements item-checkbox">
          <input id="checkbox-03-B" class="focus" checked="checked" type="checkbox">
          <label for="checkbox-03-B">Checkbox</label>
        </div>

        <div class="group-ui-elements item-checkbox item-radio">
          <input id="radio-03-A" class="focus" name="radio-03" type="radio">
          <label for="radio-03-A">Radio Button 01</label>
        </div>

        <div class="group-ui-elements item-checkbox item-radio">
          <input id="radio-03-B" class="focus" name="radio-03" checked="checked" type="radio">
          <label for="radio-03-B">Radio Button 02</label>
        </div>

      </div>
    </div>
  </body></html>
