<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Nesting - Pattern - PDS">
  <title>Nesting - Pattern - PDS</title>
  <link href="./../../base.css" rel="stylesheet">
  <link href="./../../variables.css" rel="stylesheet">
  <link href="./../../font.css" rel="stylesheet">
  <link href="./styles.css" rel="stylesheet">
  <style>
  </style>
</head>
<body onload="(function(){updateBottomUp(); updateChild(); alluncheck_updateChild(); updateHideChild(); updateHideResSub();})()" style="margin:20px 40px; height: auto;">

  <h1 class="label-section" style="margin-bottom:10px;">Nesting</h1>
  <button onclick="(function(){annotateis();})()" style="float:right;">Leave annotation</button>
  <p>This is a list of existing patterns applied to nesting UI elements to show dependency. Checkboxes are used as an example. Nesting also occurs with other UI elements like radio buttons, drop-downs etc.</p>
  <p>To best experience the differences, enable the first sub option, then disable the primary option and re-enable it.</p>
  <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">

    <div class="container-content">
      <section id="indetermined">
        <h2 class="label-section group-ui-elements has-helptext">Double-Dependent</h2>
        <p class="label-section">show previous sub-state in disabled elements<br/>
          <em>(seen in HTML, Windows &amp; macOS</em>)<br/>&nbsp;</p>
        <div class="group-ui-elements item-checkbox">
          <input id="checkbox-01" type="checkbox" checked>
          <label for="checkbox-01">Option A</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="checkbox-02" type="checkbox" class="part">
          <label for="checkbox-02">Part 1 of option A</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="checkbox-03" type="checkbox" class="part" checked>
          <label for="checkbox-03">Part 2 of option A</label>
        </div>
      </section>
    </div>

    <div class="container-content">
      <section id="disable-sub-retain">
        <h2 class="label-section group-ui-elements has-helptext">Disable Sub</h2>
        <p class="label-section">retain previous sub-state in disabled elements<br/>
          <em>(seen in <abbr title="Settings - Network - Proxy">Windows</abbr>, <abbr title="Preferences - Date and Time">macOS</abbr> &amp; <abbr title="Preferences - Block dangerous content">Firefox</abbr>)</em><br/>&nbsp;</p>
        <div class="group-ui-elements item-checkbox">
          <input id="checkbox-04" type="checkbox" checked>
          <label for="checkbox-04">Option B</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="checkbox-05" type="checkbox">
          <label for="checkbox-05">Part 1 of option B</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="checkbox-06" type="checkbox" checked>
          <label for="checkbox-06">Part 2 of option B</label>
        </div>
      </section>
    </div>

    <div class="container-content">
      <section id="disable-visible-state">
        <h2 class="label-section">Disable Sub &amp; hide State</h2>
        <p class="label-section">show that sub are also disabled with parent<br/>
          <em>(seen in <abbr title="Preferences - App Store">macOS</abbr> &amp; <abbr title="Firefox Preferences - Search Suggestions, Data Collection">Firefox</abbr>)</em><br/>&nbsp;</p>
        <div class="group-ui-elements item-checkbox">
          <input id="alluncheck_parent" type="checkbox" checked>
          <label for="alluncheck_parent">Option C</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="alluncheck_childA" type="checkbox">
          <label for="alluncheck_childA">Part 1 of option C</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="alluncheck_childB" type="checkbox" checked>
          <label for="alluncheck_childB">Part 2 of option C</label>
        </div>
      </section>
    </div>

    <div class="container-content">
      <section id="disable-visible-state">
        <h2 class="label-section">Hide Sub</h2>
        <p class="label-section">hide sub elements if they can not be used<br/>
          <em>(seen in <abbr title="Firefox Preferences - Performance">Firefox</abbr>)</em><br/>&nbsp;</p>
        <div class="group-ui-elements item-checkbox">
          <input id="hidesub_parent" type="checkbox" checked>
          <label for="hidesub_parent">Option D</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="hidesub_childA" type="checkbox">
          <label for="hidesub_childA">Part 1 of option D</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="hidesub_childB" type="checkbox" checked>
          <label for="hidesub_childB">Part 2 of option D</label>
        </div>
      </section>
    </div>

    <div class="container-content">
      <section id="disable-visible-state">
        <h2 class="label-section">Hide &amp; Reset Sub</h2>
        <p class="label-section">hide sub elements and reset their value to default<br/>
          <em>(seen in <abbr title="Firefox Preferences - History">Firefox</abbr>)</em><br/>&nbsp;</p>
        <div class="group-ui-elements item-checkbox">
          <input id="hideResSub_parent" type="checkbox" checked>
          <label for="hideResSub_parent">Option E</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="hideResSub_childA" type="checkbox">
          <label for="hideResSub_childA">Part 1 of option E</label>
        </div>
        <div class="group-ui-elements item-checkbox subcheckbox">
          <input id="hideResSub_childB" type="checkbox" checked>
          <label for="hideResSub_childB">Part 2 of option E</label>
        </div>
      </section>
    </div>

  </div>

  <p>Related:
    <ul>
      <li><a href="https://developer.apple.com/macos/human-interface-guidelines/buttons/checkboxes/#bxlabels-checkboxes-onoff-examples">Apple Human Interface Guidelines - Checkboxes</a></li>
      <li><a href="https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/checkbox">Universal Windows Platform - Check boxes</a></li>
    </ul>
  </p>
  <script src="./checkcheckboxstate.js"></script>
</body>
</html>
