<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Radio-Buttons - Component - PDS">
  <title>Radio-Buttons - Component - PDS</title>
  <link href="./../../base.css" rel="stylesheet">
  <link href="./../../variables.css" rel="stylesheet">
  <link href="./../../font.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet"
</head>
<body>
  <div class="container-content">
    <section id="section-general-startup">
      <h2 class="label-section">When Nightly starts</h2>
      <div class="group-ui-elements">
        <div class="group-ui-elements item-radiobutton">
          <input type="radio" name="group1" id="radio-01" checked>
          <label for="radio-01">Show your home page</label>
        </div>
        <div class="group-ui-elements item-radiobutton">
          <input type="radio" name="group1" id="radio-02">
          <label for="radio-02">Show a blank page</label>
        </div>
        <div class="group-ui-elements item-radiobutton">
          <input type="radio" name="group1" id="radio-03">
          <label for="radio-03">Show your windows and tabs from last time</label>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
