/* ====================== */
/* ------UI Styles------- */
/* ====================== */

/* ====================== */
/* ----Radio-Buttons----- */

/* ------Unchecked------- */

input[type="radio"] {
  margin-right: 4px;
  width: 16px;
  height: 16px;

  background-color: var(--grey-90-10);
  background-size: 4px;
  background-repeat: no-repeat;
  background-position: center center;

  border: 1px solid var(--grey-90-30);
  border-radius: 100%;

  animation-name: none;
}

input[type="radio"] + label {
  flex: 1 1 auto;
}

input[type="radio"]:hover {
  background-color: var(--grey-90-20);
}

input[type="radio"]:hover:active {
  background-color: var(--grey-90-30);
}

/* ------Focus----------- */

input[type="radio"]:focus {
  border: 0;
  box-shadow: 0 0 0 1px var(--blue-50) inset,
              0 0 0 1px var(--blue-50),
              0 0 0 4px var(--blue-50-30);
  animation: none;
}

/* ------Checked--------- */

input[type="radio"]:checked {
  background-color: var(--blue-60);
  background-image: url("./radio-16.svg");
  background-size: 16px;

  border: none;

  animation-name: checked;
  animation-delay: 0;
  animation-direction: forwards;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function:  var(--animation-curve);
}
@keyframes checked {
  from {
  background-size: 8px;
  }
  to {
  background-size: 16px;
  }
}

input[type="radio"]:checked:hover {
  background-color: var(--blue-70);
}

input[type="radio"]:checked:hover:active {
  background-color: var(--blue-80);
}
